<div class="row justify-content-start mb-4">
    <div class="col-10">
        <button class="btn btn-primary">+New Player</button>
    </div>
</div>
<div *ngFor="let player of players" class="row justify-content-between mb-1">
    <div class="col-7">
        <a class="btn" href="/campaigns/{{campaign}}/{{player.CHARACTER_NAME}}">{{player.CHARACTER_NAME}}</a>
    </div>
    <div class="col-3 text-right">
        <button class="btn btn-secondary" (click)="confirmDeletePlayer()">This is the trash button</button>
    </div>
</div>