Filter by Name: <input type="text" [(ngModel)]="nameFilter"/><br />
Filter by School:
<select [(ngModel)]="schoolFilter">
    <option>None</option>
    <option>Abjuration</option>
    <option>Conjuration</option>
    <option>Divination</option>
    <option>Enchantment</option>
    <option>Evocation</option>
    <option>Illusion</option>
    <option>Necromancy</option>
    <option>Transmutation</option>
</select><br />
Requires Concentration?
<select [(ngModel)]="concentrationFilter">
    <option>N/A</option>
    <option>Yes</option>
    <option>No</option>
</select><br />
Classes:<br />
<label *ngFor="let class of classes | keys">
    <input type="checkbox" [(ngModel)]="classes[class]"/>
    {{class}} 
</label>
<div class="container" *ngFor="let level of spells; let i = index" [attr.data-index]="i">
    <h4>Level {{i}}</h4>
    <div class="container" *ngFor="let spell of spells[i] | filterspells:nameFilter:schoolFilter:concentrationFilter:classes">
        <a class="btn" href="/spellbook/{{spell.SPELL_NAME}}">{{spell.SPELL_NAME}}</a>
    </div>
</div>